<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>
{% block title %}

{% endblock %}


	</title>


</head>
<body>

{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container">
  <a class="navbar-brand" href="{% url 'form:create' %}">BTS</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'form:create' %}">Form <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'form:inventory' %}">Inventory <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-dark btn-large" ><a href="{% url 'logout' %}?next=/">Sign Out</a></button>
    </form>
  </div>
</div>
</nav>
{% endif %}

<div class="container">
{% block body %}

{% endblock %}
</div>

</body>
</html>